{% extends('base.html.twig') %}

{% block body%}

<h2>List of all Ricks</h2>
<table class="table table-striped">
<thead>
<tr>
<td>ID</td>
<td>Name</td>
<td>Address</td>
<td>Age</td>
<td><div class="d-flex justify-content-center">Options</div></td>
</tr>
</thead>
<tbody>
	{% for rickpick in rickpicks %}
	<tr>
		<td>{{rickpick.id}}</td>
		<td>
			<a href="{{ path('show_product',{id: rickpick.id}) }}">
				{{rickpick.Name}}
			</a>
		</td>
		<td>
            {{rickpick.Adress}}
		</td>
        <td>
            {{rickpick.Age}}
		</td>
        <td>
            <div class="d-flex justify-content-around">
            <a href="{{ path('edit_product',{id: rickpick.id}) }}">Update</a>
            <a class="text-danger" href="{{ path('delete_product',{id: rickpick.id}) }}">Delete</a>
            </div>
        </td>
	</tr>
	{%endfor%}
</tbody>
</table>

<form action="{{path('create_product')}}">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Create new rickpick</button>
</form>

{% endblock %} 